<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="ckan-resource-selector" version="1.0.1">
    <details>
        <title>CKAN Resource Selector</title>
        <email>wirecloud@conwet.com</email>
        <image>images/ckan.png</image>
        <description>A widget that allows you to choose between the different resources availables in a CKAN instance</description>
        <doc>doc/index.html</doc>
        <authors>Aitor Magán &lt;amagan@conwet.com&gt;</authors>
        <contributors>Álvaro Arranz García &lt;aarranz@conwet.com&gt;</contributors>
    </details>
    <preferences>
        <preference name="ckan_server" type="text" label="CKAN Server URL" description="CKAN Server URL" default="http://perseo.ls.fi.upm.es:8080"/>
        <preference name="auth_token" type="text" label="CKAN Authorization Token" description="CKAN Authorization Token"/>
        <preference name="limit_rows" type="text" label="Number of rows to retrieve (resources)" description="Maximum number of rows to return" default="100"/>
    </preferences>
    <wiring>
        <outputendpoint name="resource" type="text" label="Resource" description="The resource (a JSON including the structure and the data)" friendcode="dataset"/>
    </wiring>
    <contents src="index.html" cacheable="false" useplatformstyle="true"/>
    <rendering height="27" width="5"/>
</widget>
